<!DOCTYPE html>
<html lang="ko">

<head>
{{> header }}
</head>

<body>

    <div id="wrapper">
		<!-- navBar -->
		{{> navBar }}
		<!-- /navBar -->
		
        <!-- Sidebar -->
		{{> sideBar }}
		<!-- /#sidebar-wrapper -->

        <!-- Page Content -->
		
		<div id="page-content-wrapper">
            <div class="container-fluid">
                <h1><p class="mx-auto" style="width: 200px; height: 100px; margin-top: 20%;">WELCOME!</p></h1>
                <p class="text-center">
                		<button type="button" class="btn btn-outline-dark btn-lg" id="start"
					onclick="window.location.href='/main'">GO TO MAIN</button>
                </p>
			</div>
            
        </div>
        <!-- /#page-content-wrapper -->

		<!-- back-ground-video -->
		<video id="background-video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			<source src="../media/background.mp4">
		</video>
		<!-- /back-ground-video -->
		
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
