<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="main-container">

		<div id="main-header">
			<h1>TITLE : KOO's WEB PORTFOLIO</h1>
		</div>

		<div id="main-content">
			<h2>Content Preview</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Aenean nec mollis nulla. Phasellus lacinia tempus mauris eu laoreet.
				Proin gravida velit dictum dui consequat malesuada. Aenean et nibh
				eu purus scelerisque aliquet nec non justo. Aliquam vitae aliquet
				ipsum. Etiam condimentum varius purus ut ultricies. Mauris id odio
				pretium, sollicitudin sapien eget, adipiscing risus.</p>
		</div>

		<div id="main-sidebar">
			<h2>Sidebar (~2017.10)</h2>
			<ul>
				<li>Portfolio 1</li>
				<li>Portfolio 2</li>
				<li>Portfolio 3</li>
			</ul>
			<h2>Sidebar (~2018.01)</h2>
			<ul>
				<li>Portfolio 4</li>
				<li>Portfolio 5</li>
				<li>Portfolio 6</li>
			</ul>
			<h2>Sidebar (~2018.04)</h2>
			<ul>
				<li>Portfolio 7</li>
				<li>Portfolio 8</li>
				<li>Portfolio 9</li>
			</ul>
		</div>

		<div id="main-footer">
			<h3>Contact Me!</h3>
		</div>

		<video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			<source src="../media/background.mp4">
		</video>

	</div>
</body>
</html>