<!DOCTYPE html>
<html lang="ko">

<head>
{{> header }}
</head>

<body>

	<div id="wrapper">

		<!-- navBar -->
		{{> navBar }}
		<!-- /navBar -->
		
		<!-- Sidebar -->
		{{> sideBar}}
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid" style="margin-top: 80px;">

				<!-- Introduction Row -->
				<h1 class="my-4">
					PORTFOLIO 3 <small> (WEB programming with Java) </small>
				</h1>
				<p>level 3 에 대한 설명과 간단한 요약을 적는 공간입니다.</p>
				<p>level 3 에 대한 설명과 간단한 요약을 적는 공간입니다.</p>
				<p>level 3 에 대한 설명과 간단한 요약을 적는 공간입니다.</p>
				<p>level 3 에 대한 설명과 간단한 요약을 적는 공간입니다.</p>

				<!-- Team Members Row -->
				<div class="row">
					<div class="col-lg-12">
						<h2 class="my-4">programming list</h2>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mb-4">
						<img class="rounded-circle img-fluid d-block mx-auto"
							src="http://placehold.it/200x200" alt="">
						<h3>
							<a href="https://github.com/KOOSANGYOON/level3_myWeb/tree/KOOSANGYOON">first WEB</a>
							<small>(반복주기 학습)</small>
						</h3>
						<p>반복주기 학습에 대한 간략한 설명</p>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mb-4">
						<img class="rounded-circle img-fluid d-block mx-auto"
							src="http://placehold.it/200x200" alt="">
						<h3>
							<a href="https://github.com/KOOSANGYOON/java-qna/tree/KOOSANGYOON">WEB QnA</a>
							<small>(QnA 게시판)</small>
						</h3>
						<p>QnA 게시판에 대한 간략한 설명</p>
					</div>
					<div class="col-lg-4 col-sm-6 text-center mb-4">
						<img class="rounded-circle img-fluid d-block mx-auto"
							src="http://placehold.it/200x200" alt="">
						<h3>
							<a href="https://github.com/KOOSANGYOON/java-ims/tree/KOOSANGYOON">Issue Management System</a>
							<small>(이슈 관리 시스템)</small>
						</h3>
						<p>이슈 관리 시스템에 대한 간략한 설명</p>
					</div>
				</div>

			</div>
			<!-- /.container -->

			<!-- if you need to make footer -->
			<!-- <footer class="py-5 bg-dark">
				<div class="container">
					<p class="m-0 text-center text-white">Copyright &copy; KOO PORTFOLIO</p>
				</div>
			</footer> -->

		</div>

	</div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>

