<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="container">
	
		<div class="container-title">
			<div class="container-title-titleArea">
				<button id="show-sideBar-button">t</button>
				<div id="container-title-titleArea-title">title</div>
			</div>
			
			<div class="container-title-info">. . .</div>
		</div>
		
		<div class="container-sideBar">
			<h2>Sidebar (~2017.10)</h2>
			<ul>
				<li>Portfolio 1</li>
				<li>Portfolio 2</li>
				<li>Portfolio 3</li>
			</ul>
			
			<h2>Sidebar (~2018.10)</h2>
			<ul>
				<li>Portfolio 4</li>
				<li>Portfolio 5</li>
				<li>Portfolio 6</li>
			</ul>
		</div>
		
		<div class="container-mainPage">
			<h2>Content Preview</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Aenean nec mollis nulla. Phasellus lacinia tempus mauris eu laoreet.
				Proin gravida velit dictum dui consequat malesuada. Aenean et nibh
				eu purus scelerisque aliquet nec non justo. Aliquam vitae aliquet
				ipsum. Etiam condimentum varius purus ut ultricies. Mauris id odio
				pretium, sollicitudin sapien eget, adipiscing risus.</p>
		</div>
		
		<video id="video" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
			<source src="../media/background.mp4">
		</video>
	</div>
</body>
</html>