<!DOCTYPE html>
<html lang="ko">

<head>
{{> header }}
</head>

<body>

	<div id="wrapper">

		<!-- navBar -->
		{{> navBar }}
		<!-- /navBar -->

		<!-- Sidebar -->
		{{> sideBar }}
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<!-- main contents 넣을 자리 입니다. 이력서를 넣거나(양식맞춰) 사진을 넣고 개인의 설명을 넣을것입니다. -->
				<div class="testfile">asdfasdf</div>
				<div id='calendar'></div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap core JavaScript -->
	<script src="/js/bootstrap.bundle.min.js"></script>

	<!-- Menu Toggle Script -->
	<script>
	$(document).ready(function() {
  		// page is now ready, initialize the calendar...
		console.log("hi1");
		
		$('#calendar').fullCalendar();
		
		console.log("hi2");
	});

    
	$("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    
</body>

</html>
