<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<button type="button" class="btn btn-outline-primary" id="menu-toggle">></button>
	<a class="navbar-brand" href="/">&nbsp&nbsp&nbsp TORP</a>
	
	<div class="container">
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			
				<!-- <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li> -->
				
				<a class="btn btn-primary" href="/" role="button">HOME</a>
				<!-- <li class="nav-item"><a class="nav-link" href="#">About</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Board</a></li> -->
			</ul>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-info dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			USER
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">LOGIN</a>
			<a class="dropdown-item" href="#">EDIT MY INFO</a>
			<a class="dropdown-item" href="#">CHANGE PASSWORD</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">LOGOUT</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-success dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			SCHEDULING
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">MY SCHEDULE</a>
			<a class="dropdown-item" href="#">TODO LIST</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 10px;">
		<button type="button" class="btn btn-warning dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			COMMUNITY
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">QnA BOARD</a>
			<a class="dropdown-item" href="#">TODAY's HUMOR</a>
			<a class="dropdown-item" href="#">EMPLOYMENT DATA</a>
			<a class="dropdown-item" href="#">TODAY's BOOK</a>
		</div>
	</div>
	
	<div class="btn-group" style="margin-right: 100px;">
		<button type="button" class="btn btn-danger dropdown-toggle"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			CHAT
		</button>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="#">TOTAL CHATROOM</a>
			<a class="dropdown-item" href="#">MAKE CHATROOM</a>
			<a class="dropdown-item" href="#">DIRECT MESSAGE</a>
			<a class="dropdown-item" href="#">ALERT CHANNEL</a>
		</div>
	</div>
		
</nav>